# Identifying gene difference content in closely related strains

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [2]:
df_cr = pd.read_csv(r"C:\Users\jojoa\GitHub\staph\data\closely_related_matrix.csv")

In [3]:
df_cr

,Unnamed: 0,18942,1053,36653,35906,24887,40959,19451,16248,17887,...,29295,20565,22234,31939,40447,22779,40560,37248,6454,38985
0,18942,NaN,NaN,0.000044,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000036
1,1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36653,0.000044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000037
3,35906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000158,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,22779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,40560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,37248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000211,...,NaN,NaN,NaN,NaN,0.000189,NaN,NaN,NaN,NaN,NaN
98,6454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000084,NaN,NaN,NaN,NaN,NaN,NaN
99,38985,0.000036,NaN,0.000037,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_cr=df_cr.set_index('Unnamed: 0')

In [4]:
df_pa=pd.read_csv(r"C:\Users\jojoa\GitHub\staph\data\binary_matrix.csv")

C:\Users\jojoa\.conda\envs\disperse_env\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (101) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [38]:
df_pa=df_pa.set_index('Unnamed: 0')

For an exmaple, let's look at the difference in genes between strains 18942 and 36653.

In [6]:
df_pa['36653']

0        1
1        1
2        1
3        1
4        1
        ..
29715    0
29716    0
29717    0
29718    0
29719    0
Name: 36653, Length: 29720, dtype: int64

In [7]:
df_pa['18942']

0        1
1        1
2        1
3        1
4        1
        ..
29715    0
29716    0
29717    0
29718    0
29719    0
Name: 18942, Length: 29720, dtype: int64

In [8]:
diff=df_pa['36653']-df_pa['18942']

In [9]:
gene_diff=diff.to_numpy().nonzero()

These numbers represent the indecies at which our two strains differ. These indecies directly correlate to genes. Thus, we can see which genes the two strains differ by.

In [20]:
gene_diff=gene_diff[0]

In [22]:
len(gene_diff)

98

From this, we can see that the two strains differ by 98 genes. We can continue this cycle for all the 100 strains.

In [35]:
df_cr.columns[2]

'1053'

In [52]:
for i in range(0,len(df_cr.columns)): #columns + len(df_cr.columns)
    for j in range(0,len(df_cr)): #rows+len(df_cr)
        if isinstance(df_cr.iloc[j,i],float)==True:
            diff=df_pa[df_cr.columns[i]]-df_pa[str(df_cr.index[j])]
            gene_diff=diff.to_numpy().nonzero()
            gene_diff=gene_diff[0]
            print(len(gene_diff))

0
1722
98
787
721
824
743
710
742
682
777
740
745
809
701
777
837
670
671
655
786
106
768
663
718

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [50]:
diff

Unnamed: 0
0        0
1        0
2        0
3        0
4        0
        ..
29715    0
29716    0
29717    0
29718    0
29719    0
Name: 1053, Length: 29720, dtype: int64

In [44]:
df_cr.columns[1]

'1053'

In [46]:
str(df_cr.index[1])

'1053'